<img *ngIf="weatherData && weatherData.weather[0]?.main === 'Clouds'" alt="clouds" class="weather-icon"
     src="https://cdn-icons-png.flaticon.com/512/2272/2272194.png">
<img *ngIf="weatherData && weatherData.weather[0]?.main === 'Rain'" alt="rain" class="weather-icon" src="https://cdn-icons-png.flaticon.com/512/263/263883.png">
<img *ngIf="weatherData && weatherData.weather[0]?.main === 'Clear'" alt="sun" class="weather-icon" src="https://cdn-icons-png.flaticon.com/512/136/136723.png">
<img *ngIf="weatherData && weatherData.weather[0]?.main === 'Snow'" alt="snow" class="weather-icon" src="https://cdn-icons-png.flaticon.com/512/2439/2439702.png">
<div class="description">
  <img alt="thermometer" width="16px" height="16px"  *ngIf="isDetails" src="https://upload.wikimedia.org/wikipedia/en/d/d5/Thermometer_icon.png">
  <div class="temp-title" *ngIf="isDetails">{{ weatherData && weatherData.main?.temp }}°</div>
  <div class="weather-title">{{ weatherData && weatherData.weather[0]?.main }}</div>
</div>

