:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
  background-image: linear-gradient(180deg, #4597F7 0%, #1659A9 100%);
  border-radius: 12px;
  color: #fff;
  padding: 12px 24px 24px 12px;
}

.top-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.bottom-block {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

.thermometer {
  width: 50px;
  height: 50px;
  @media (max-width: 767px) {
    width: 35px;
    height: 35px;
  }
}

.icon {
  color: red
}

.temp {
  &-real {
    font-size: 50px;
    font-weight: 600;
    @media (max-width: 767px) {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &-feel {
    padding-left: 50px;
    font-weight: 500;
    font-size: 16px;
    @media (max-width: 767px) {
      font-size: 12px;
      font-weight: 500;
      padding-left: 12px;
    }
  }
}

.city {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-name {
    font-size: 18px;
    font-weight: 500;
    padding-left: 14px;
    margin-top: 8px;
  }

  &-date {
    font-size: 16px;
    font-weight: 500;
    padding-left: 16px;
  }
}

.parameters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;

  &-data {
    font-size: 12px;
    font-weight: 500;
    margin-left: 12px;
  }

  &-country {
    font-size: 18px;
    font-weight: 500;
  }
}

.country {
  margin-left: 12px;
}

.coords {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 18px;
  margin-bottom: 12px;

  &-param {
    font-size: 12px;
    margin-right: 8px;
  }
}
.city-description {
width: 100%;
}



